.text {
  font-size: 30px;
  background-color: red;
}
.ham {
  display: none;
}
.menu {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  /* background-color: blue; */
  margin: 0px auto;
  div {
    height: 400px;
  }
}
.left {
  width: 50%;
  background-color: red;
}
.right {
  width: 50%;
  background-color: blue;
}
/*모바일인 경우*/
@media screen and (max-width: 768px) {
  .text {
    font-size: 15px;
    background-color: blue;
  }
  .ham {
    display: block;
  }
  .menu {
    display: block;
    justify-content: space-between;
    max-width: 1280px;
    /* background-color: blue; */
    margin: 0px auto;
    div {
      width: 100%;
      height: 400px;
    }
  }
}

@media screen and (max-width: 480px) {
  .text {
    background-color: green;
  }
}
