.input-wrap {
  display: flex;
  flex-direction: column;
}
input {
  display: flex;
  padding: 10px;
  margin: 5px;
}
#error_id {
  width: 100%;
}
button {
  display: flex;
  padding: 10px;
  margin: 5px;
}
div {
  display: flex;
  padding: 10px;
  margin: 5px;
}
