body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  font-size: 13px;
}

.main_wrap {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  font-size: 13px;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

div {
  display: flex;
  flex-direction: column;
  width: 100%; /* Div의 너비를 테이블과 동일하게 */
  max-width: 800px; /* 테이블과 동일한 최대 너비 설정 */
  gap: 10px;
  padding: 10px;
  box-sizing: border-box; /* 패딩 포함해 크기 계산 */
}

div > div {
  border: 1px solid #b3e5fc;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
}
